body,
html {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

body {
  background: url(./images/background.jpg) no-repeat center center fixed;
}

header {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  z-index: 1;

  justify-content: center;
  align-items: center;
}

li {
  display: flex;
  list-style: none;
  margin: 2em 0;
  align-items: center;
}

a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin: auto;
  width: 60%;
  padding: 1em 7em;
  border-radius: 10em;
  justify-content: center;
  background-color: #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  transition: 1s;
}

a:hover {
  background-color: white;
}

a img {
  padding-right: 10px;
}
ul {
  padding: 0;
}

main {
  width: 100vw;
}

header h2 {
  display: inline-block;
  font-size: 0.8em;
  font-weight: bold;
  border-radius: 1em;
  background-color: #000a;
  color: #fff;
  padding: 0.3em 0.6em;
  border: 1px solid #fffa;
  backdrop-filter: blur(10px) saturate(160%) contrast(180%);
  -webkit-backdrop-filter: blur(10px) saturate(160%) contrast(180%);
}

.profile-pic {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: rgba(108, 32, 43, 0.24) 0px 2px 8px 0px;
  border: 3px solid white;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
